In [1]:
%pip install psycopg2
%pip install nbformat

Requirement already satisfied: psycopg2 in c:\users\gogco\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.9.10)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 25.0.1
[notice] To update, run: C:\Users\gogco\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

Requirement already satisfied: nbformat in c:\users\gogco\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (5.10.4)
Requirement already satisfied: fastjsonschema>=2.15 in c:\users\gogco\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from nbformat) (2.21.1)
Requirement already satisfied: jsonschema>=2.6 in c:\users\gogco\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from nbformat) (4.23.0)
Requirement already satisfied: jupyter-core!=5.0.*,>=4.12 in c:\users\gogco\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from nbformat) (5.7.2)
Requirement already satisfied: traitlets>=5.1 in c:\users\gogco\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from nbformat) (5.14.3)
Requirement already satisfied: attrs>=22.2.0 in c:\users\gogco\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from jsonschema>=2.6->nbformat) (24.2.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in c:\users\gogco\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from jsonschema>=2.6->nbformat) (2024.10.1)
Requirement already satisfied: referencing>=0.28.4 in c:\users\gogco\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from jsonschema>=2.6->nbformat) (0.35.1)
Requirement already satisfied: rpds-py>=0.7.1 in c:\users\gogco\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from jsonschema>=2.6->nbformat) (0.22.3)
Requirement already satisfied: platformdirs>=2.5 in c:\users\gogco\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from jupyter-core!=5.0.*,>=4.12->nbformat) (4.3.6)
Requirement already satisfied: pywin32>=300 in c:\users\gogco\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from jupyter-core!=5.0.*,>=4.12->nbformat) (308)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 25.0.1
[notice] To update, run: C:\Users\gogco\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [2]:
import psycopg2 as pg
import pandas as pd

### Введите данные для подключения к существующей или создание новой БД

In [3]:
DB_NAME = "hw2"
DB_USER = "postgres"
DB_PASSWORD = ""
DB_HOST = "localhost"
DB_PORT = "5433"

In [4]:
# подключение к системной БД
conn = pg.connect(
    dbname="postgres",
    user=DB_USER,
    password=DB_PASSWORD,
    host=DB_HOST,
    port=DB_PORT
)
conn.autocommit = True
cur = conn.cursor()

In [5]:
# попытка создания БД с указанным именем
cur.execute(f"SELECT 1 FROM pg_database WHERE datname = '{DB_NAME}';")
if not cur.fetchone():
    cur.execute(f"create database {DB_NAME} with owner = {DB_USER};")
    print(f"База данных {DB_NAME} успешно создана!")
else:
    print(f"База данных {DB_NAME} уже существует.")
cur.close()
conn.close()

База данных hw2 уже существует.

In [8]:
# подключение к существующей или созданной БД
conn = pg.connect(
    dbname=DB_NAME,
    user=DB_USER,
    password=DB_PASSWORD,
    host=DB_HOST,
    port=DB_PORT
)
cur = conn.cursor()

### Создание таблиц и отношений БД SQL-запросом

In [ ]:
try:
    with open("schema.sql", "r", encoding="utf-8") as f:
        sql_script = f.read()
    cur.execute(sql_script)
    conn.commit()

    # проверка, создались ли таблицы
    cur.execute("SELECT table_name FROM information_schema.tables WHERE table_schema = 'public';")
    tables = cur.fetchall()

    if tables:
        print("Таблицы успешно созданы!")
    else:
        print("Ошибка: таблицы не были созданы!")

except Exception as e:
    print(f"Ошибка при создании таблиц: {e}")
    conn.rollback()  # откат изменений, если была ошибка

In [10]:
# функция изменяет разделитель в CSV-файле
def change_csv_delimiter(input_file, output_file=None, old_delimiter=';', new_delimiter=','):
    df = pd.read_csv(input_file, delimiter=old_delimiter)
    if output_file is None:
        output_file = input_file
    df.to_csv(output_file, sep=new_delimiter, index=False)
    
# функция изменяет разделитель чисел с плавающей точкой
def change_format_numbers(series: pd.Series, old_delimiter=',', new_delimiter='.'):
    return pd.to_numeric(series.astype(str).str.replace(old_delimiter, new_delimiter, regex=False), errors='coerce')

# функция формат данных в CSV-файле
def change_format_data(series: pd.Series, old_format='%d.%m.%Y', new_format='%Y-%m-%d'):
    return pd.to_datetime(series, format=old_format).dt.strftime(new_format)

In [ ]:
change_csv_delimiter('data/customer.csv')
change_csv_delimiter('data/transaction.csv')

In [ ]:
transaction_df = pd.read_csv("data/transaction.csv", delimiter=",")
transaction_df["standard_cost"] = change_format_numbers(transaction_df["standard_cost"])
transaction_df["list_price"] = change_format_numbers(transaction_df["list_price"])
transaction_df["transaction_date"] = change_format_data(transaction_df["transaction_date"])
transaction_df = transaction_df[transaction_df["customer_id"] <= 4000] # важно! выполнено удаление всех транзакций, которые имеют невалидный customer_id 
                                                                       #(вероятно, изначально таблица customer имела больше записей, 
                                                                       # а таблица transaction хранит транзакции уже несуществующих клиентов)
transaction_df.to_csv("data/transaction.csv", index = False)

In [9]:
# функция загрузки CSV в PostgreSQL
def load_csv_to_postgres(cur, csv_path, table_name):
    df = pd.read_csv(csv_path)
    # открытие файла и загрузка в PostgreSQL
    with open(csv_path, 'r', encoding='utf-8') as f:
        next(f)  # пропуск заголовков
        try:
            cur.copy_from(f, table_name, sep=',', null='')
            conn.commit()
            print(f"Данные из {csv_path} загружены в {table_name}")
        except Exception as e:
            conn.rollback()
            print(f"Ошибка при загрузке {csv_path} в {table_name}: {e}")

# функция выполняет SQL-запросы
def execute_sql_file(file_path, conn):
    try: 
        # читает SQL-файл
        with open(file_path, 'r', encoding='utf-8') as sql_file:
            sql_script = sql_file.read()
        
        # выполняет SQL-запрос
        # cur.execute(sql_script)
        # conn.commit()  # фиксирует изменения
        
        df = pd.read_sql_query(sql_script, conn)
        print(f"SQL-файл {file_path} выполнен успешно.")
        return df
    
    except Exception as e:
        conn.rollback()  # отменяет изменения при ошибке
        print(f"Ошибка при выполнении {file_path}: {e}")

In [14]:
# загрузка данных в таблицы (порядок загрузки индивидуален в соответствии со схемой)
load_csv_to_postgres(cur, "data/customer.csv", "customer")
load_csv_to_postgres(cur, "data/transaction.csv", "transaction")

Данные из data/customer.csv загружены в customer
Данные из data/transaction.csv загружены в transaction

In [10]:
execute_sql_file("sql/1.sql", conn)

SQL-файл sql/1.sql выполнен успешно.

C:\Users\gogco\AppData\Local\Temp\ipykernel_23412\3059630634.py:26: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(sql_script, conn)

   count job_industry_category
0    799         Manufacturing
1    774    Financial Services
2    656                  None
3    602                Health
4    358                Retail
5    267              Property
6    223                    IT
7    136         Entertainment
8    113           Argiculture
9     72    Telecommunications

In [11]:
pd.set_option("display.max_rows", None)  # Показывать все строки
pd.set_option("display.max_columns", None)  # Показывать все столбцы
execute_sql_file("sql/2.sql", conn)

SQL-файл sql/2.sql выполнен успешно.

C:\Users\gogco\AppData\Local\Temp\ipykernel_23412\3059630634.py:26: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(sql_script, conn)

          month job_industry_category  total_transactions
0    2017-01-01           Argiculture            43513.82
1    2017-01-01         Entertainment            64089.92
2    2017-01-01    Financial Services           366383.71
3    2017-01-01                Health           286860.38
4    2017-01-01                    IT           107783.37
5    2017-01-01         Manufacturing           365232.45
6    2017-01-01              Property           100686.97
7    2017-01-01                Retail           182375.75
8    2017-01-01    Telecommunications            31210.20
9    2017-01-01                  None           316819.75
10   2017-02-01           Argiculture            60016.81
11   2017-02-01         Entertainment            63965.98
12   2017-02-01    Financial Services           375961.86
13   2017-02-01                Health           268525.79
14   2017-02-01                    IT            93961.77
15   2017-02-01         Manufacturing           389260.51
16   2017-02-01              Property           112255.39
17   2017-02-01                Retail           146107.62
18   2017-02-01    Telecommunications            27678.20
19   2017-02-01                  None           260711.90
20   2017-03-01           Argiculture            49048.49
21   2017-03-01         Entertainment            77122.43
22   2017-03-01    Financial Services           322268.48
23   2017-03-01                Health           290575.82
24   2017-03-01                    IT           100212.38
25   2017-03-01         Manufacturing           377784.59
26   2017-03-01              Property           125143.58
27   2017-03-01                Retail           172366.56
28   2017-03-01    Telecommunications            24541.28
29   2017-03-01                  None           278553.89
30   2017-04-01           Argiculture            45978.31
31   2017-04-01         Entertainment            70263.62
32   2017-04-01    Financial Services           348074.26
33   2017-04-01                Health           285820.80
34   2017-04-01                    IT           112883.44
35   2017-04-01         Manufacturing           384590.71
36   2017-04-01              Property           111973.92
37   2017-04-01                Retail           185587.70
38   2017-04-01    Telecommunications            35125.32
39   2017-04-01                  None           262711.10
40   2017-05-01           Argiculture            74518.68
41   2017-05-01         Entertainment            73800.48
42   2017-05-01    Financial Services           375253.64
43   2017-05-01                Health           292596.47
44   2017-05-01                    IT           100426.56
45   2017-05-01         Manufacturing           367089.37
46   2017-05-01              Property           135044.44
47   2017-05-01                Retail           148247.71
48   2017-05-01    Telecommunications            27124.35
49   2017-05-01                  None           314621.34
50   2017-06-01           Argiculture            52940.08
51   2017-06-01         Entertainment            65918.61
52   2017-06-01    Financial Services           376155.26
53   2017-06-01                Health           219846.92
54   2017-06-01                    IT            98267.76
55   2017-06-01         Manufacturing           338854.23
56   2017-06-01              Property           117475.87
57   2017-06-01                Retail           162107.46
58   2017-06-01    Telecommunications            35107.85
59   2017-06-01                  None           288726.27
60   2017-07-01           Argiculture            49134.42
61   2017-07-01         Entertainment            57405.14
62   2017-07-01    Financial Services           358209.37
63   2017-07-01                Health           315828.26
64   2017-07-01                    IT            97527.38
65   2017-07-01         Manufacturing           372981.44
66   2017-07-01              Property           122791.77
67   2017-07-01                Retail           155781.05
68   2017-07-01    Telecommunications            28093.85
69   2017-07-01                  None           335246.99
70   2017-08-01           Argiculture            49846.76
71   2017-08-01         Entertainment            72212.21
72   2017-08-01    Financial Services           395829.28
73   2017-08-01                Health           295134.62
74   2017-08-01                    IT           110139.30
75   2017-08-01         Manufacturing           386049.51
76   2017-08-01              Property           114060.63
77   2017-08-01                Retail           170997.58
78   2017-08-01    Telecommunications            36146.19
79   2017-08-01                  None           303576.27
80   2017-09-01           Argiculture            58566.02
81   2017-09-01         Entertainment            57820.96
82   2017-09-01    Financial Services           317579.38
83   2017-09-01                Health           252652.97
84   2017-09-01                    IT            98124.54
85   2017-09-01         Manufacturing           356897.59
86   2017-09-01              Property           136483.01
87   2017-09-01                Retail           152658.73
88   2017-09-01    Telecommunications            33568.34
89   2017-09-01                  None           279823.99
90   2017-10-01           Argiculture            49244.53
91   2017-10-01         Entertainment            69173.55
92   2017-10-01    Financial Services           357250.87
93   2017-10-01                Health           290146.66
94   2017-10-01                    IT           104678.40
95   2017-10-01         Manufacturing           405813.58
96   2017-10-01              Property           135093.88
97   2017-10-01                Retail           192790.90
98   2017-10-01    Telecommunications            38492.80
99   2017-10-01                  None           319553.62
100  2017-11-01           Argiculture            42396.96
101  2017-11-01         Entertainment            63741.48
102  2017-11-01    Financial Services           347072.76
103  2017-11-01                Health           312967.08
104  2017-11-01                    IT            89930.11
105  2017-11-01         Manufacturing           373581.25
106  2017-11-01              Property           107969.81
107  2017-11-01                Retail           158762.55
108  2017-11-01    Telecommunications            32295.05
109  2017-11-01                  None           292928.27
110  2017-12-01           Argiculture            42149.09
111  2017-12-01         Entertainment            48773.26
112  2017-12-01    Financial Services           389990.04
113  2017-12-01                Health           308315.97
114  2017-12-01                    IT           106109.96
115  2017-12-01         Manufacturing           319248.23
116  2017-12-01              Property           117263.20
117  2017-12-01                Retail           153369.72
118  2017-12-01    Telecommunications            25852.57
119  2017-12-01                  None           300793.18

In [12]:
execute_sql_file("sql/3.sql", conn)

SQL-файл sql/3.sql выполнен успешно.

C:\Users\gogco\AppData\Local\Temp\ipykernel_23412\3059630634.py:26: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(sql_script, conn)

            brand  online_order_count
0           Solex                 101
1  Norco Bicycles                  92
2        WeareA2B                  90
3  Giant Bicycles                  89
4   Trek Bicycles                  82
5      OHM Cycles                  78
6            None                   8

In [13]:
execute_sql_file("sql/4_1.sql", conn).head(100)

SQL-файл sql/4_1.sql выполнен успешно.

C:\Users\gogco\AppData\Local\Temp\ipykernel_23412\3059630634.py:26: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(sql_script, conn)

    customer_id  total_price  max_price  min_price  txn_count
0          2183     19071.32    2005.66     230.91         14
1          1129     18349.27    1992.93     290.62         13
2          1597     18052.68    2091.47     360.40         12
3           941     17898.46    2091.47    1057.51         10
4          2788     17258.94    2083.94     183.86         11
5           936     17160.24    2005.66     183.86         12
6          1887     17133.93    2091.47     688.63         11
7          1302     17035.83    1977.36      71.16         13
8          1140     16199.24    2083.94     183.86         13
9          2309     16122.34    2091.47     290.62         12
10          729     15826.00    2091.47     586.45         10
11         1103     15447.92    1977.36     230.91         12
12         1317     15370.81    2091.47     569.56          9
13         2874     15091.91    2005.66     544.05         11
14         2762     15071.26    1997.68     183.86         10
15          255     14949.91    1810.00     441.49         12
16         1672     14908.46    1977.36     363.01         13
17         1329     14818.12    1793.43     543.39         11
18          322     14782.23    2005.66      12.01         12
19         3048     14756.09    1890.39     543.39         13
20         2860     14673.35    1812.75     175.89         10
21          999     14662.14    2091.47     495.72         10
22         1460     14633.24    2091.47    1228.07          8
23         2894     14621.73    2083.94    1129.13          9
24         3060     14609.22    1992.93     533.51         11
25          445     14593.22    1894.19     543.39         11
26         2476     14578.69    1807.45      12.01         14
27         2464     14574.06    1842.92     230.91         13
28          733     14532.51    2005.66     499.53         10
29         3015     14529.95    2091.47     569.56         10
30          590     14475.62    2083.94      71.49         12
31         2101     14423.33    2091.47     752.64         10
32          799     14399.89    1793.43     586.45         11
33         1076     14390.10    1977.36     586.45         12
34         1821     14387.59    1890.39     100.35         12
35         1482     14366.26    1977.36     441.49         12
36         1043     14313.43    2086.07     688.63         10
37         1068     14254.55    1812.75     202.62         14
38          506     14208.25    2083.94     230.91         10
39         1992     14165.05    1945.43     795.34         10
40         2912     14149.73    1992.93      12.01         13
41         3470     14126.25    2091.47    1151.96          8
42         1237     14112.40    2091.47      60.34         11
43         2755     14088.24    2091.47      71.49         13
44         3326     14078.19    2005.66      12.01         13
45         3118     14065.03    2005.66    1129.13          9
46          173     14061.48    2091.47     544.05          9
47         2548     14027.08    1977.36     227.88         13
48         1357     14010.38    2091.47     363.01         10
49         2240     13961.45    1890.39      60.34         12
50         1591     13908.32    1793.43      71.49         12
51          637     13899.73    2005.66      60.34         13
52         2637     13895.71    2091.47      71.49         11
53         3420     13885.45    2005.66      71.49         11
54         2914     13824.53    1992.93     235.63         12
55         1517     13750.08    2083.94     360.40         11
56         2770     13728.70    1945.43     543.39          9
57         1503     13725.13    2091.47     356.39         10
58          353     13721.09    2091.47     688.63         11
59         1611     13692.47    2083.94     363.01         12
60         1530     13634.73    2083.94     230.91         10
61         1558     13587.27    2091.47     774.53          9
62         2816     13562.73    1977.36     416.98         10
63          832     13562.13    1873.97      12.01         12
64          213     13555.56    1992.93     360.40         11
65         3212     13490.52    2091.47    1163.77          8
66         2184     13468.26    1793.43     202.62         11
67         2615     13460.63    2083.94     574.64          9
68         3232     13451.28    1812.75     230.91         13
69         2468     13390.75    2005.66     544.05         10
70         2046     13347.53    2091.47     533.51          9
71         2733     13266.62    2091.47     294.35         10
72         2686     13237.88    1977.36     227.88         11
73         2616     13134.12    2091.47     235.63         11
74           34     13133.00    2083.94     958.74          9
75         2383     13104.08    2083.94      12.01          9
76         1773     13096.00    2083.94     183.86         11
77          725     13048.82    2091.47     416.98         11
78          151     13047.54    1992.93    1231.15          8
79         2379     13030.07    1945.43     495.72         11
80          720     13004.35    2091.47     574.64         10
81          239     12986.13    1945.43     774.53          9
82         2508     12948.97    2091.47     441.49         10
83          607     12940.99    2005.66      71.16         10
84          906     12920.29    1977.36     495.72          9
85          174     12893.57    2083.94      71.16         10
86         2702     12880.30    2091.47     416.98          9
87         1547     12870.90    2005.66     416.98          9
88          117     12856.83    1762.96     441.49         10
89         1957     12822.04    2005.66     230.91         11
90         1991     12813.27    1890.39     642.70         10
91         1625     12809.37    2091.47     688.63          8
92         2880     12780.52    1992.93     642.31          8
93          438     12777.29    2091.47    1151.96          8
94         2999     12745.98    1945.43      12.01         11
95         1033     12744.87    1890.39     688.63          9
96           89     12741.44    1992.93     441.49          9
97          973     12724.26    2091.47     575.27          8
98          853     12711.37    2091.47     569.56          9
99         1722     12696.87    2083.94     235.63          9

In [16]:
execute_sql_file("sql/4_2.sql", conn).head(100)

SQL-файл sql/4_2.sql выполнен успешно.

C:\Users\gogco\AppData\Local\Temp\ipykernel_23412\3059630634.py:26: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(sql_script, conn)

    customer_id  total_price  max_price  min_price  txn_count
0          2183     19071.32    2005.66     230.91         14
1          2183     19071.32    2005.66     230.91         14
2          2183     19071.32    2005.66     230.91         14
3          2183     19071.32    2005.66     230.91         14
4          2183     19071.32    2005.66     230.91         14
5          2183     19071.32    2005.66     230.91         14
6          2183     19071.32    2005.66     230.91         14
7          2183     19071.32    2005.66     230.91         14
8          2183     19071.32    2005.66     230.91         14
9          2183     19071.32    2005.66     230.91         14
10         2183     19071.32    2005.66     230.91         14
11         2183     19071.32    2005.66     230.91         14
12         2183     19071.32    2005.66     230.91         14
13         2183     19071.32    2005.66     230.91         14
14         1129     18349.27    1992.93     290.62         13
15         1129     18349.27    1992.93     290.62         13
16         1129     18349.27    1992.93     290.62         13
17         1129     18349.27    1992.93     290.62         13
18         1129     18349.27    1992.93     290.62         13
19         1129     18349.27    1992.93     290.62         13
20         1129     18349.27    1992.93     290.62         13
21         1129     18349.27    1992.93     290.62         13
22         1129     18349.27    1992.93     290.62         13
23         1129     18349.27    1992.93     290.62         13
24         1129     18349.27    1992.93     290.62         13
25         1129     18349.27    1992.93     290.62         13
26         1129     18349.27    1992.93     290.62         13
27         1597     18052.68    2091.47     360.40         12
28         1597     18052.68    2091.47     360.40         12
29         1597     18052.68    2091.47     360.40         12
30         1597     18052.68    2091.47     360.40         12
31         1597     18052.68    2091.47     360.40         12
32         1597     18052.68    2091.47     360.40         12
33         1597     18052.68    2091.47     360.40         12
34         1597     18052.68    2091.47     360.40         12
35         1597     18052.68    2091.47     360.40         12
36         1597     18052.68    2091.47     360.40         12
37         1597     18052.68    2091.47     360.40         12
38         1597     18052.68    2091.47     360.40         12
39          941     17898.46    2091.47    1057.51         10
40          941     17898.46    2091.47    1057.51         10
41          941     17898.46    2091.47    1057.51         10
42          941     17898.46    2091.47    1057.51         10
43          941     17898.46    2091.47    1057.51         10
44          941     17898.46    2091.47    1057.51         10
45          941     17898.46    2091.47    1057.51         10
46          941     17898.46    2091.47    1057.51         10
47          941     17898.46    2091.47    1057.51         10
48          941     17898.46    2091.47    1057.51         10
49         2788     17258.94    2083.94     183.86         11
50         2788     17258.94    2083.94     183.86         11
51         2788     17258.94    2083.94     183.86         11
52         2788     17258.94    2083.94     183.86         11
53         2788     17258.94    2083.94     183.86         11
54         2788     17258.94    2083.94     183.86         11
55         2788     17258.94    2083.94     183.86         11
56         2788     17258.94    2083.94     183.86         11
57         2788     17258.94    2083.94     183.86         11
58         2788     17258.94    2083.94     183.86         11
59         2788     17258.94    2083.94     183.86         11
60          936     17160.24    2005.66     183.86         12
61          936     17160.24    2005.66     183.86         12
62          936     17160.24    2005.66     183.86         12
63          936     17160.24    2005.66     183.86         12
64          936     17160.24    2005.66     183.86         12
65          936     17160.24    2005.66     183.86         12
66          936     17160.24    2005.66     183.86         12
67          936     17160.24    2005.66     183.86         12
68          936     17160.24    2005.66     183.86         12
69          936     17160.24    2005.66     183.86         12
70          936     17160.24    2005.66     183.86         12
71          936     17160.24    2005.66     183.86         12
72         1887     17133.93    2091.47     688.63         11
73         1887     17133.93    2091.47     688.63         11
74         1887     17133.93    2091.47     688.63         11
75         1887     17133.93    2091.47     688.63         11
76         1887     17133.93    2091.47     688.63         11
77         1887     17133.93    2091.47     688.63         11
78         1887     17133.93    2091.47     688.63         11
79         1887     17133.93    2091.47     688.63         11
80         1887     17133.93    2091.47     688.63         11
81         1887     17133.93    2091.47     688.63         11
82         1887     17133.93    2091.47     688.63         11
83         1302     17035.83    1977.36      71.16         13
84         1302     17035.83    1977.36      71.16         13
85         1302     17035.83    1977.36      71.16         13
86         1302     17035.83    1977.36      71.16         13
87         1302     17035.83    1977.36      71.16         13
88         1302     17035.83    1977.36      71.16         13
89         1302     17035.83    1977.36      71.16         13
90         1302     17035.83    1977.36      71.16         13
91         1302     17035.83    1977.36      71.16         13
92         1302     17035.83    1977.36      71.16         13
93         1302     17035.83    1977.36      71.16         13
94         1302     17035.83    1977.36      71.16         13
95         1302     17035.83    1977.36      71.16         13
96         1140     16199.24    2083.94     183.86         13
97         1140     16199.24    2083.94     183.86         13
98         1140     16199.24    2083.94     183.86         13
99         1140     16199.24    2083.94     183.86         13

In [37]:
execute_sql_file("sql/5_1.sql", conn)

SQL-файл sql/5_1.sql выполнен успешно.

C:\Users\gogco\AppData\Local\Temp\ipykernel_20472\3059630634.py:26: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(sql_script, conn)

  first_name last_name  total_spent
0     Hamlen  Slograve        60.34

In [38]:
execute_sql_file("sql/5_2.sql", conn)

SQL-файл sql/5_2.sql выполнен успешно.

C:\Users\gogco\AppData\Local\Temp\ipykernel_20472\3059630634.py:26: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(sql_script, conn)

  first_name last_name  total_spent
0     Jillie    Fyndon     19071.32

In [40]:
execute_sql_file("sql/6.sql", conn).head(100)

SQL-файл sql/6.sql выполнен успешно.

C:\Users\gogco\AppData\Local\Temp\ipykernel_20472\3059630634.py:26: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(sql_script, conn)

    customer_id  transaction_id transaction_date  list_price
0             1            9785       2017-01-05      360.40
1             2            2261       2017-05-04     1403.50
2             3           10302       2017-02-23     1311.44
3             4           12441       2017-04-03      569.56
4             5            2291       2017-03-03      688.63
5             6            7096       2017-01-28     1769.64
6             7           18369       2017-02-18      360.40
7             8           10792       2017-01-04     1362.99
8             9            8591       2017-02-04      792.90
9            10            5956       2017-06-20     1071.23
10           11            6004       2017-04-02     1216.14
11           12            6741       2017-02-12      360.40
12           13           17763       2017-01-06     1890.39
13           14           16253       2017-05-11     1636.90
14           15           17528       2017-01-20       71.49
15           16           14760       2017-02-12     1172.78
16           17            1404       2017-03-14      478.16
17           18            7092       2017-03-25      202.62
18           19            4664       2017-01-31     1311.44
19           20           18030       2017-06-11     2091.47
20           21           14115       2017-02-12     1538.99
21           22           17002       2017-01-06     1469.44
22           23           18219       2017-03-27      202.62
23           24           15926       2017-01-25       71.49
24           25           16026       2017-02-08       60.34
25           26            7674       2017-04-02     1073.07
26           27            1275       2017-04-08      202.62
27           28            7775       2017-01-23      360.40
28           29           10676       2017-01-04      795.34
29           30            3214       2017-04-02      416.98
30           31            4321       2017-03-21     1720.70
31           32           15069       2017-01-14     1151.96
32           33            6156       2017-03-20     1227.34
33           34            9044       2017-02-13     1231.15
34           35           15032       2017-03-28     1292.84
35           36            1418       2017-04-08       60.34
36           37           13475       2017-03-05     1289.85
37           38           14512       2017-01-23       71.49
38           39            4659       2017-01-19      202.62
39           40           10973       2017-01-24       60.34
40           41           15262       2017-01-24     1403.50
41           42            4762       2017-02-01      586.45
42           43             896       2017-01-04      795.34
43           44           11825       2017-04-17     2091.47
44           45            7322       2017-07-09     1775.81
45           46           11710       2017-03-15      795.34
46           47            5080       2017-01-17     1894.19
47           48           17666       2017-02-06     2091.47
48           49            7212       2017-01-31     1793.43
49           50           17709       2017-01-17      175.89
50           51            4239       2017-01-01     1231.15
51           52           19862       2017-01-11     1777.80
52           53            8283       2017-01-07     1065.03
53           54           11374       2017-02-25      358.39
54           55           16659       2017-01-08      441.49
55           56            7134       2017-02-18      590.26
56           57           11296       2017-01-20     1071.23
57           58           16885       2017-05-07      792.90
58           59            3052       2017-04-10     1362.99
59           60            3209       2017-05-27      363.01
60           61           19872       2017-03-17      867.92
61           62            6633       2017-01-09       71.16
62           63           18832       2017-03-20     1216.14
63           64           13497       2017-01-09     1703.52
64           65            6378       2017-02-20     1635.30
65           66            6202       2017-02-17     1057.51
66           67            2488       2017-03-18      230.91
67           68            4503       2017-01-16      945.04
68           69           13881       2017-02-02     1890.39
69           70           10118       2017-02-02     1227.34
70           71             862       2017-08-21     1415.01
71           72           14096       2017-05-10     1812.75
72           73            2316       2017-01-09     1403.50
73           74           16590       2017-04-22     1415.01
74           75            5979       2017-05-26      912.52
75           76           12392       2017-03-21     1274.93
76           77            9422       2017-02-02      792.90
77           78            4938       2017-06-01      569.56
78           79           17976       2017-02-23     1415.01
79           80            6621       2017-01-05     1793.43
80           81           15983       2017-03-08     1071.23
81           82            1346       2017-02-20     1311.44
82           83           18734       2017-01-21      543.39
83           84           13067       2017-01-21      441.49
84           85           12537       2017-01-09      175.89
85           86           17879       2017-01-28      230.91
86           87           10866       2017-01-21     1386.84
87           88           15052       2017-03-12       71.16
88           89            2852       2017-02-14     1415.01
89           90            8350       2017-03-09     1227.34
90           91            5221       2017-04-13       71.49
91           92           14106       2017-01-14     1775.81
92           93            5600       2017-01-30     1179.00
93           94            9300       2017-08-18     1386.84
94           95           19080       2017-06-06     1403.50
95           96            5733       2017-01-08     1280.28
96           97           10000       2017-01-02     1403.50
97           98           16329       2017-04-21     2005.66
98           99           10970       2017-03-11     1894.19
99          100            5925       2017-05-10     2005.66

In [47]:
execute_sql_file("sql/7.sql", conn)

SQL-файл sql/7.sql выполнен успешно.

C:\Users\gogco\AppData\Local\Temp\ipykernel_20472\3059630634.py:26: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(sql_script, conn)

  first_name  last_name                     job_title  max_diff
0  Susanetta       None               Legal Assistant       357
1   Stoddard  Giacomoni  Structural Analysis Engineer       330
2     Royall     Terris           Geological Engineer       330
3  Gregorius    Cockram               Data Coordiator       330
4   Bearnard   Letixier                          None       329
5    Caralie    Sellors                 Senior Editor       321
6      Debee   Martynov                 Senior Editor       320
7      Genni     Larway      Environmental Specialist       314
8      Franz     Craddy                          None       310
9   Carolynn     Samsin                    Pharmacist       310

In [27]:
cur.close()
conn.close()